In [31]:
import pandas as pd
df_raw = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("Files/raw/owid-co2-data.csv")
df=df_raw.toPandas()
df.head()

StatementMeta(, 0741427d-98e3-48cb-aede-34a9924c33b4, 33, Finished, Available, Finished, False)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3767956.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.165,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,Afghanistan,1852,AFG,3783940.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.164,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,Afghanistan,1853,AFG,3800954.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.164,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,Afghanistan,1854,AFG,3818038.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.163,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [32]:
df_clean=df[(df['year']>=2000) & (df['iso_code'].notna())& (df['population'].notna())].copy()

StatementMeta(, 0741427d-98e3-48cb-aede-34a9924c33b4, 34, Finished, Available, Finished, False)

In [33]:
df_clean=df_clean[df_clean['iso_code'].str.len()==3]
df_clean.sample(5)

StatementMeta(, 0741427d-98e3-48cb-aede-34a9924c33b4, 35, Finished, Available, Finished, False)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
5997,Bonaire Sint Eustatius and Saba,2002,BES,14782.0,NaN,0.000,0.000,0.066,-0.002,-3.593,...,NaN,0.000,NaN,0.000,0.000,NaN,NaN,NaN,NaN,NaN
35888,Puerto Rico,2007,PRI,3775446.0,1.229895e+11,NaN,NaN,NaN,NaN,NaN,...,NaN,0.008,NaN,0.000,0.000,NaN,NaN,NaN,NaN,NaN
17203,Germany,2000,DEU,81551680.0,2.741357e+12,15.253,0.187,898.938,3.536,0.395,...,4.658,3.635,0.006,0.033,0.041,0.002,926.16,959.12,184.714,20.548
24446,Liberia,2021,LBR,5193422.0,NaN,0.207,0.040,0.865,0.096,12.455,...,NaN,0.042,0.000,0.001,0.001,0.000,NaN,NaN,NaN,NaN
36410,Russia,2007,RUS,143117680.0,2.852285e+12,27.645,0.193,1623.781,0.779,0.048,...,6.319,6.769,0.019,0.064,0.086,0.003,1548.17,2291.50,-310.342,-19.112

In [34]:
df_clean['co2_intensity']=df_clean['co2']/df_clean['gdp']
df_clean['co2_calc_per_capita']=df_clean['co2']/df_clean['population']

StatementMeta(, 0741427d-98e3-48cb-aede-34a9924c33b4, 36, Finished, Available, Finished, False)

In [35]:
df_clean.info()

StatementMeta(, 0741427d-98e3-48cb-aede-34a9924c33b4, 37, Finished, Available, Finished, False)

<class 'pandas.core.frame.DataFrame'>
Index: 4968 entries, 150 to 48057
Data columns (total 81 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    4968 non-null   object
 1   year                                       4968 non-null   int32
 2   iso_code                                   4968 non-null   object
 3   population                                 4968 non-null   float64
 4   gdp                                        3135 non-null   float64
 5   cement_co2                                 4729 non-null   float64
 6   cement_co2_per_capita                      4729 non-null   float64
 7   co2                                        4899 non-null   float64
 8   co2_growth_abs                             4899 non-null   float64
 9   co2_growth_prct                            4899 non-null   float64
 10  co2_including_luc                          4462 non-null   float64
 11  co2_including_luc_growth_abs               4462 non-null   float64
 12  co2_including_luc_growth_prct              4462 non-null   float64
 13  co2_including_luc_per_capita               4462 non-null   float64
 14  co2_including_luc_per_gdp                  3078 non-null   float64
 15  co2_including_luc_per_unit_energy          4208 non-null   float64
 16  co2_per_capita                             4899 non-null   float64
 17  co2_per_gdp                                3116 non-null   float64
 18  co2_per_unit_energy                        4518 non-null   float64
 19  coal_co2                                   4897 non-null   float64
 20  coal_co2_per_capita                        4897 non-null   float64
 21  consumption_co2                            2630 non-null   float64
 22  consumption_co2_per_capita                 2630 non-null   float64
 23  consumption_co2_per_gdp                    2251 non-null   float64
 24  cumulative_cement_co2                      4729 non-null   float64
 25  cumulative_co2                             4899 non-null   float64
 26  cumulative_co2_including_luc               4462 non-null   float64
 27  cumulative_coal_co2                        4897 non-null   float64
 28  cumulative_flaring_co2                     4899 non-null   float64
 29  cumulative_gas_co2                         4897 non-null   float64
 30  cumulative_luc_co2                         4509 non-null   float64
 31  cumulative_oil_co2                         4897 non-null   float64
 32  cumulative_other_co2                       1058 non-null   float64
 33  energy_per_capita                          4562 non-null   float64
 34  energy_per_gdp                             3123 non-null   float64
 35  flaring_co2                                4899 non-null   float64
 36  flaring_co2_per_capita                     4899 non-null   float64
 37  gas_co2                                    4897 non-null   float64
 38  gas_co2_per_capita                         4897 non-null   float64
 39  ghg_excluding_lucf_per_capita              4053 non-null   float64
 40  ghg_per_capita                             4053 non-null   float64
 41  land_use_change_co2                        4509 non-null   float64
 42  land_use_change_co2_per_capita             4462 non-null   float64
 43  methane                                    4053 non-null   float64
 44  methane_per_capita                         4053 non-null   float64
 45  nitrous_oxide                              4053 non-null   float64
 46  nitrous_oxide_per_capita                   4053 non-null   float64
 47  oil_co2                                    4897 non-null   float64
 48  oil_co2_per_capita                         4897 non-null   float64
 49  other_co2_per_capita                       1058 non-null   float64
 50  other_industry_co2                         1058 non-null   float64
 51  primary_energy_consumption                 4562 non-null   float64
 52  share_global_cement_co2                    4729 non-null   float64
 53  share_global_co2                           4899 non-null   float64
 54  share_global_co2_including_luc             4462 non-null   float64
 55  share_global_coal_co2                      4897 non-null   float64
 56  share_global_cumulative_cement_co2         4729 non-null   float64
 57  share_global_cumulative_co2                4899 non-null   float64
 58  share_global_cumulative_co2_including_luc  4462 non-null   float64
 59  share_global_cumulative_coal_co2           4897 non-null   float64
 60  share_global_cumulative_flaring_co2        4899 non-null   float64
 61  share_global_cumulative_gas_co2            4897 non-null   float64
 62  share_global_cumulative_luc_co2            4509 non-null   float64
 63  share_global_cumulative_oil_co2            4897 non-null   float64
 64  share_global_cumulative_other_co2          1058 non-null   float64
 65  share_global_flaring_co2                   4899 non-null   float64
 66  share_global_gas_co2                       4897 non-null   float64
 67  share_global_luc_co2                       4509 non-null   float64
 68  share_global_oil_co2                       4897 non-null   float64
 69  share_global_other_co2                     1058 non-null   float64
 70  share_of_temperature_change_from_ghg       4708 non-null   float64
 71  temperature_change_from_ch4                4422 non-null   float64
 72  temperature_change_from_co2                4708 non-null   float64
 73  temperature_change_from_ghg                4708 non-null   float64
 74  temperature_change_from_n2o                4422 non-null   float64
 75  total_ghg                                  4053 non-null   float64
 76  total_ghg_excluding_lucf                   4053 non-null   float64
 77  trade_co2                                  2630 non-null   float64
 78  trade_co2_share                            2630 non-null   float64
 79  co2_intensity                              3116 non-null   float64
 80  co2_calc_per_capita                        4899 non-null   float64
dtypes: float64(78), int32(1), object(2)
memory usage: 3.1+ MB

In [36]:
fact_df=df_clean[[ "country",
        "iso_code",
        "year",
        "co2",
        "co2_per_capita",
        "gdp",
        "population",
        "primary_energy_consumption",
        "energy_per_capita",
        "co2_intensity",
        "co2_calc_per_capita"]].copy()
fact_df.head(10)

StatementMeta(, 0741427d-98e3-48cb-aede-34a9924c33b4, 38, Finished, Available, Finished, False)

,country,iso_code,year,co2,co2_per_capita,gdp,population,primary_energy_consumption,energy_per_capita,co2_intensity,co2_calc_per_capita
150,Afghanistan,AFG,2000,1.047,0.054,1.128379e+10,19542986.0,5.914,302.595,9.278795e-11,5.357421e-08
151,Afghanistan,AFG,2001,1.069,0.054,1.102127e+10,19688634.0,4.664,236.892,9.699424e-11,5.429529e-08
152,Afghanistan,AFG,2002,1.341,0.064,1.880487e+10,21000258.0,4.428,210.862,7.131131e-11,6.385636e-08
153,Afghanistan,AFG,2003,1.560,0.069,2.107434e+10,22645136.0,5.208,229.968,7.402366e-11,6.888897e-08
154,Afghanistan,AFG,2004,1.237,0.053,2.233257e+10,23553554.0,4.810,204.231,5.538995e-11,5.251861e-08
155,Afghanistan,AFG,2005,1.890,0.077,2.539769e+10,24411196.0,6.153,252.069,7.441622e-11,7.742349e-08
156,Afghanistan,AFG,2006,2.159,0.085,2.870440e+10,25442946.0,7.745,304.421,7.521495e-11,8.485653e-08
157,Afghanistan,AFG,2007,2.800,0.108,3.450753e+10,25903306.0,9.177,354.280,8.114171e-11,1.080943e-07
158,Afghanistan,AFG,2008,4.254,0.161,3.656104e+10,26427204.0,16.063,607.833,1.163534e-10,1.609705e-07
159,Afghanistan,AFG,2009,6.392,0.233,4.435872e+10,27385310.0,26.702,975.048,1.440979e-10,2.334098e-07

In [37]:
spark.createDataFrame(fact_df).write.mode('overwrite').saveAsTable('fact_climate')

StatementMeta(, 0741427d-98e3-48cb-aede-34a9924c33b4, 39, Finished, Available, Finished, False)

In [38]:
fact_df.head()

StatementMeta(, 0741427d-98e3-48cb-aede-34a9924c33b4, 40, Finished, Available, Finished, False)

,country,iso_code,year,co2,co2_per_capita,gdp,population,primary_energy_consumption,energy_per_capita,co2_intensity,co2_calc_per_capita
150,Afghanistan,AFG,2000,1.047,0.054,1.128379e+10,19542986.0,5.914,302.595,9.278795e-11,5.357421e-08
151,Afghanistan,AFG,2001,1.069,0.054,1.102127e+10,19688634.0,4.664,236.892,9.699424e-11,5.429529e-08
152,Afghanistan,AFG,2002,1.341,0.064,1.880487e+10,21000258.0,4.428,210.862,7.131131e-11,6.385636e-08
153,Afghanistan,AFG,2003,1.560,0.069,2.107434e+10,22645136.0,5.208,229.968,7.402366e-11,6.888897e-08
154,Afghanistan,AFG,2004,1.237,0.053,2.233257e+10,23553554.0,4.810,204.231,5.538995e-11,5.251861e-08

In [41]:
dim_country=fact_df[['country','iso_code']].drop_duplicates().copy()
dim_country=dim_country.rename(columns={'iso_code':'country_id'})
dim_country.head()

StatementMeta(, 0741427d-98e3-48cb-aede-34a9924c33b4, 43, Finished, Available, Finished, False)

          country country_id
150   Afghanistan        AFG
769       Albania        ALB
942       Algeria        DZA
1215      Andorra        AND
1388       Angola        AGO

In [42]:
spark.createDataFrame(dim_country).write.mode('overwrite').saveAsTable('dim_country')

StatementMeta(, 0741427d-98e3-48cb-aede-34a9924c33b4, 44, Finished, Available, Finished, False)

In [44]:
dim_year=fact_df[['year']].drop_duplicates().copy()
dim_year['decade']=(dim_year['year']//10)*10
dim_year=dim_year.sort_values('year')
dim_year.head()

StatementMeta(, 0741427d-98e3-48cb-aede-34a9924c33b4, 46, Finished, Available, Finished, False)

     year  decade
150  2000    2000
151  2001    2000
152  2002    2000
153  2003    2000
154  2004    2000

In [45]:
spark.createDataFrame(dim_year).write.mode('overwrite').saveAsTable('dim_year')

StatementMeta(, 0741427d-98e3-48cb-aede-34a9924c33b4, 47, Finished, Available, Finished, False)